$def with (questions)

<div class="container-fluid" style="padding: 20px;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form>
            <div class="form-group">
              <input type="text" class="form-control" style="width:100%;" id="question_title" placeholder="سوال">
            </div>
            <select class="form-control" id="category">
                <option value="1001">ادبیات</option>
                <option value="1002">عربی</option>
                <option value="1003">دین و زندگی</option>
                <option value="1004">زبان</option>
            </select>
            
            <input type="text" id="item_id" style="visibility: hidden;">
            <div class="form-group">
                <input type="text" class="form-control" id="answer" placeholder="جواب">
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <input type="text" class="form-control" id="option_two" placeholder="گزینه ۲">
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <input type="text" class="form-control" id="option_three" placeholder="گزینه ۳">
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <input type="text" class="form-control" id="option_four" placeholder="گزینه ۴">
            </div>
            <select class="form-control" id="exam_category">
                <option value="1">سراسری</option>
                <option value="2">سراسری خارج از کشور</option>
                <option value="3">آزاد</option>
            </select>
            <select class="form-control" id="exam_field_of_study">
                <option value="1">ریاضی</option>
                <option value="2">تجربی</option>
                <option value="3">انسانی</option>
                <option value="4">زبان</option>
                <option value="5">هنر</option>
            </select>
            
            <select class="form-control" id="exam_year">
                <option value="93">93</option>
                <option value="92">92</option>
                <option value="91">91</option>
                <option value="90">90</option>
                <option value="89">89</option>
                <option value="88">88</option>
                <option value="87">87</option>
                <option value="86">86</option>
                <option value="85">85</option>
            </select>
            <div class="clear"></div>
            <center>
                <button type="button" class="btn btn-primary">تایید</button>
            </center>
            <div class="clear"></div>
        </form>
        
        
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="container-fluid" style="padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr class="first">
                    <td></td>
                    <td>سال</td>
                    <td>رشته</td>
                    <td>نوع</td>
                    <td>گزینه ۴</td>
                    <td>گزینه ۳</td>
                    <td>گزینه ۲</td>
                    <td>جواب</td>
                    <td>سوال</td>
                    <td></td>
                </tr>
                $for question in questions:
                    <tr id="$question['_id']">
                        <td><button type="button" class="btn btn-warning">X</button><button type="button" class="btn btn-info">E</button></td>
                        $if question['exam_year'] == 93: 
                            <td>93</td>
                        $elif question['exam_year'] == 92:  
                            <td>92</td>
                        $elif question['exam_year'] == 91:  
                            <td>91</td>
                        $elif question['exam_year'] == 90:  
                            <td>90</td>
                        $elif question['exam_year'] == 89:  
                            <td>89</td>
                        $elif question['exam_year'] == 88:  
                            <td>88</td>
                        $elif question['exam_year'] == 87:  
                            <td>87</td>
                        $elif question['exam_year'] == 86:  
                            <td>86</td>
                        $elif question['exam_year'] == 85:  
                            <td>85</td>
                        
                        $if question['exam_field_of_study'] == 1: 
                            <td>ریاضی</td>
                        $elif question['exam_field_of_study'] == 2:  
                            <td>تجربی</td>
                        $elif question['exam_field_of_study'] == 3:  
                            <td>انسانی</td>
                        $elif question['exam_field_of_study'] == 4:  
                            <td>زبان</td>
                        $elif question['exam_field_of_study'] == 5:  
                            <td>هنر</td>
                            
                        $if question['exam_category'] == 1: 
                            <td>سراسری</td>
                        $elif question['exam_category'] == 2:  
                            <td>سراسری خارج از کشور</td>
                        $elif question['exam_category'] == 3:  
                            <td>آزاد</td>
                            
                        <td>$question['option_four']</td>
                        <td>$question['option_three']</td>
                        <td>$question['option_two']</td>
                        <td>$question['answer']</td>
                        <td>$question['title']</td>
                        $if question['category'] == 1001: 
                            <td>ادبیات</td>
                        $elif question['category'] == 1002:  
                            <td>عربی</td>
                        $elif question['category'] == 1003:  
                            <td>دین و زندگی</td>
                        $elif question['category'] == 1004:  
                            <td>زبان</td>
                    </tr>    
            </table>    
        </div>
    </div>
</div>
