<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehdiii.duelgame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".DuelApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".receivers.OnHeartRefillTimeArrived"
            android:enabled="true" />

        <receiver
            android:name=".receivers.OnBootCompletedReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".MusicPlayer" />

        <activity
            android:name=".views.activities.register.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activities.home.HomeActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".views.activities.CategoryActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".views.activities.WaitingActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".views.activities.PlayGameActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".views.activities.GameResultActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".views.activities.TryToConnectActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".views.activities.ChooseAvatarActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".views.activities.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
